//$zite-logo-color: #45b3df;
$zite-logo-color: #469cbf;
$zite-logo-bgcolor: #fff;
$zite-logo-size:1;

.zite-logo {
  display: none;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;

  .zite-logo-letter {
    display:inline-block;
    position:relative;
    width:98px * $zite-logo-size;
    height:98px * $zite-logo-size;
    background:$zite-logo-color;
    border-radius:6px * $zite-logo-size;
    zoom: 0.1;
    margin:0 100%;

    .zite-logo-box {
      position:absolute;
      bottom:0;
      right:0;
      width:56px * $zite-logo-size;
      height:70px * $zite-logo-size;
      background:$zite-logo-bgcolor;
    }

    .zite-logo-left-arrow {
      position:absolute;
      bottom:12px * $zite-logo-size;
      right:19px * $zite-logo-size;
      width:0;
      height:0;
      border-style:solid;
      border-width:(44px * $zite-logo-size) (39px * $zite-logo-size) 0 0; /* Overlap to prevent flickering */
      border-color:$zite-logo-color transparent transparent transparent;
      line-height:0px;
      _border-color:$zite-logo-color #000000 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }

    .zite-logo-right-arrow {
      position:absolute;
      bottom:14px * $zite-logo-size;
      right:0;
      width:0;
      height:0;
      border-style: solid;
      border-width: 0 0 (42px * $zite-logo-size) (37px * $zite-logo-size);
      border-color: transparent transparent $zite-logo-color transparent;
      line-height: 0px;
      _border-color:#000000 #000000 $zite-logo-color #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }

    .zite-logo-i {
      position:absolute;
      bottom:0;
      right:21px * $zite-logo-size;
      width:14px * $zite-logo-size;
      height:70px * $zite-logo-size;
      background:$zite-logo-bgcolor;
    }

    .zite-logo-upper {
      position:absolute;
      bottom:56px * $zite-logo-size;
      right:0;
      width:56px * $zite-logo-size;
      height:14px * $zite-logo-size;
      background:$zite-logo-bgcolor;
    }

    .zite-logo-left {
      position:absolute;
      bottom:0;
      right:42px * $zite-logo-size;
      width:14px * $zite-logo-size;
      height:70px * $zite-logo-size;
      background:$zite-logo-bgcolor;
    }

    .zite-logo-lower {
      position:absolute;
      bottom:0px;
      right:0;
      width:56px * $zite-logo-size;
      height:14px * $zite-logo-size;
      background:$zite-logo-bgcolor;
    }

    .zite-logo-e {
      position:absolute;
      bottom:28px * $zite-logo-size;
      right:14px * $zite-logo-size;
      width:42px * $zite-logo-size;
      height:14px * $zite-logo-size;
      background:$zite-logo-bgcolor;
    }
  }
}


.contact {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #555555;
  text-align: right;
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 100%;
}

.contact a, .contact a:link, .contact a:visited, .contact a:hover, .contact a:active {
  color: #555555;
  text-decoration: none;
}
