//$zite-logo-color: #45b3df;

$zite-logo-size:14px;
$zite-logo-color: #469cbf;
$zite-logo-radius:6/14*$zite-logo-size;
$zite-logo-z-axis-width:(sqrt(216)-4)/8 // 1.3371173...

.zite-logo {
  display: none;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;

  .zite-logo-letter {
    display:inline-block;
    position:relative;
    width:7 * $zite-logo-size;
    height:7 * $zite-logo-size;
    zoom: 0.1;
    margin:0 100%;

    .zite-logo-top {
      position:absolute;
      top:0;
      left:0;
      width:7 * $zite-logo-size;
      height:2 * $zite-logo-size;
      background:$zite-logo-color;
      border-radius:$zite-logo-radius $zite-logo-radius 0 0;
    }

    .zite-logo-left {
      position:absolute;
      top:2 * $zite-logo-size - 1px;
      left:0;
      width:3 * $zite-logo-size;
      height:5 * $zite-logo-size + 1px;
      background:$zite-logo-color;
      border-radius:0 0 0 $zite-logo-radius;
    }

    .zite-logo-i-left {
      position:absolute;
      top:2 * $zite-logo-size - 1px;
      left:0;
      width:4.5 * $zite-logo-size;
      height:5 * $zite-logo-size + 1px;
      background:$zite-logo-color;
      border-radius:0 0 0 $zite-logo-radius;
    }

    .zite-logo-i-right {
      position:absolute;
      top:2 * $zite-logo-size - 1px;
      right:0;
      width:1.5 * $zite-logo-size;
      height:5 * $zite-logo-size + 1px;
      background:$zite-logo-color;
      border-radius:0 0 $zite-logo-radius 0;
    }

    .zite-logo-t-left {
      position:absolute;
      top:3 * $zite-logo-size;
      left:3 * $zite-logo-size - 1px;
      width:1.5 * $zite-logo-size + 1;
      height:4 * $zite-logo-size;
      background:$zite-logo-color;
    }

    .zite-logo-t-right {
      position:absolute;
      top:3 * $zite-logo-size;
      right:0;
      width:1.5 * $zite-logo-size;
      height:4 * $zite-logo-size;
      background:$zite-logo-color;
      border-radius:0 0 $zite-logo-radius 0;
    }

    .zite-logo-e-top {
      position:absolute;
      top:3 * $zite-logo-size;
      right:0;
      width:3 * $zite-logo-size;
      height:$zite-logo-size;
      background:$zite-logo-color;
    }

    .zite-logo-e-right {
      position:absolute;
      top:4 * $zite-logo-size - 1px;
      right:0;
      width:$zite-logo-size;
      height:$zite-logo-size + 2px;
      background:$zite-logo-color;
    }

    .zite-logo-e-bottom {
      position:absolute;
      top:5 * $zite-logo-size;
      right:0;
      width:3 * $zite-logo-size;
      height:$zite-logo-size;
      background:$zite-logo-color;
    }

    .zite-logo-z-left {
      position:absolute;
      bottom:$zite-logo-size - 2px;
      left:3 * $zite-logo-size - 1.775px;
      width:0;
      height:0;
      border-style:solid;
      border-width:3 * $zite-logo-size + 2px (4 - $zite-logo-z-axis-width) * $zite-logo-size + 2px 0 0; /* Overlap to prevent flickering */
      border-color:$zite-logo-color transparent transparent transparent;
      line-height:0px;
      _border-color:$zite-logo-color #000000 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      -webkit-transform:rotate(360deg);
    }

    .zite-logo-z-right {
      position:absolute;
      bottom:$zite-logo-size;
      right:0;
      width:0;
      height:0;
      border-style: solid;
      border-width: 0 0 3 * $zite-logo-size (4 - $zite-logo-z-axis-width) * $zite-logo-size;
      border-color: transparent transparent $zite-logo-color transparent;
      line-height: 0px;
      _border-color:#000000 #000000 $zite-logo-color #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      -webkit-transform:rotate(360deg);
    }
  }
}


.contact {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #555555;
  text-align: right;
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 100%;
}

.contact a, .contact a:link, .contact a:visited, .contact a:hover, .contact a:active {
  color: #555555;
  text-decoration: none;
}
